* {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: double black;
    background-color: #3949AB;
    height: 50px;
    padding-left: 7%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    margin-top: 5px;
}

header div a {
    padding: 7px 1% 3px 1%;
    transition: 0.5s;
}

footer {
    background-color: #3949AB;
    padding-left: 1%;
    border-top: double 3px black;
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    color: #212121;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
    margin: 0px 1%;
}

footer p {
    color: #212121;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
}

footer div p {
    padding-bottom: 5px;
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    position: relative;
}

.bordesRedondos {
    border-radius: 2%;
}

.centrarImg {
    display: block;
    margin: auto
}

.centrarTxt {
    text-align: center;
}

.linea {
    display: inline;
}

.tamañoDiv {
    width: 285px;
    height: 35px;
}

.margenes {
    margin: 0px 2px;
}

.contenedor {
    display: grid;
    grid-template-areas: "img título" "img texto";
    grid-template-rows: 0.5fr 2.5fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media (max-width: 575px) {
    .contenedor {
        display: grid;
        grid-template-areas: "título" "img" "texto";
        grid-template-rows: 0.5fr 2.5fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media (min-width: 576px) {
    .contenedor {
        display: grid;
        grid-template-areas: "título" "img" "texto";
        grid-template-rows: 0.5fr 2.5fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media (min-width: 768px) {
    .contenedor {
        display: grid;
        grid-template-areas: "título título" "img texto";
        grid-template-rows: 0.5fr 2.5fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media (min-width: 992px) {
    .contenedor {
        display: grid;
        grid-template-areas: "título título" "img texto";
        grid-template-rows: 0.5fr 2.5fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

@media (min-width: 1200px) {
    .contenedor {
        display: grid;
        grid-template-areas: "img título" "img texto";
        grid-template-rows: 0.5fr 2.5fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}