@charset "UTF-8";
main {
  background-color: #FFF8Dc;
  line-height: 1.3; }
  main h1 {
    color: #145A32;
    font-style: italic;
    font-family: serif;
    text-align: center;
    font-size: 36px;
    margin: 10px 0px;
    text-decoration: underline;
    grid-area: principal;
    animation: título 4.5s ease-in-out infinite; }

@keyframes título {
  0% { }
  25% {
    background-color: #C0C0C0; }
  50% {
    background-color: #C0C0C0; }
  75% {
    background-color: #C0C0C0; }
  100% { } }
  main h2 {
    color: #1E8449;
    font-style: italic;
    font-family: serif;
    padding-left: 1%;
    font-size: 27px;
    margin: 5px 0px;
    grid-area: título;
    text-decoration: underline; }
  main div {
    width: 625px;
    padding-left: 1%;
    margin: 7px 0px;
    height: 200PX; }
    main div img {
      margin: 2px 2px 2px 1%;
      border: solid 2px black;
      padding: 1%;
      grid-area: img;
      width: 300px;
      height: 190px;
      border-radius: 2%; }
    main div p {
      font-size: 18px;
      padding-left: 1%;
      margin: 3px 0px;
      grid-area: texto; }
    main div span {
      margin: 2px; }
    main div h2 {
      color: #1E8449;
      font-style: italic;
      font-family: serif;
      padding-left: 1%;
      font-size: 27px;
      margin: 5px 0px;
      grid-area: título;
      text-decoration: underline; }
  main a {
    color: black;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    font-size: 18px; }
  main form {
    font-style: italic;
    font-family: serif;
    font-size: 18px;
    padding-left: 1%;
    margin-bottom: 8px; }
