$sub: #7986CB;
$tit: #5C6BC0;
$nota:#9FA8DA;
$tamaño: 36px;
main {
    background-color: #FFFFF0;
    line-height: 1.3;
    h1 {
        color: $tit;
        font-style: italic;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: $tamaño;
        padding: 10px 0px;
        text-decoration: underline;
        grid-area: principal;
        animation: título 4.5s ease-in-out infinite;
    }
    @keyframes título {
        0% {}
        25% {
            background-color: #C0C0C0;
        }
        50% {
            background-color: #C0C0C0;
        }
        75% {
            background-color: #C0C0C0;
        }
        100% {}
    }
    h2 {
        color: $sub;
        font-style: italic;
        font-family: 'Oswald', sans-serif;
        padding-left: 1%;
        font-size: $tamaño*0.75;
        margin: 5px 0px;
        grid-area: título;
        text-decoration: underline;
    }
    div {
        width: 625px;
        padding-left: 3%;
        margin: 7px 0px;
        height: 200PX;
        img {
            margin: 2px 2px 2px 1%;
            border: solid 2px black;
            padding: 1%;
            grid-area: img;
            width: 300px;
            height: 190px;
            border-radius: 2%;
        }
        p {
            font-size: $tamaño/2;
            padding-left: 1%;
            margin: 3px 0px;
            grid-area: texto;
            width: 500px;
        }
        span {
            margin: 2px;
        }
        h2 {
            color: $nota;
            font-style: italic;
            font-family: 'Oswald', sans-serif;
            padding-left: 1%;
            font-size: $tamaño*0.75;
            margin: 5px 0px;
            grid-area: título;
            text-decoration: underline;
        }
    }
    p {
        color: black;
        font-style: italic;
        font-family: 'Oswald', sans-serif;
        font-size: $tamaño/2;
        padding-left: 1%;
        margin: 3px 0px;
        grid-area: texto;
    }
    a {
        color: black;
        font-style: italic;
        font-family: 'Oswald', sans-serif;
        font-size: $tamaño/2;
    }
    form {
        font-style: italic;
        font-family: serif;
        font-size: $tamaño/2;
        padding-left: 1%;
        margin-bottom: 8px;
    }
}